/********************* non-fabtastic css **********************/
body{
	margin:0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-bottom:3px;
    padding:0;
    -webkit-text-size-adjust:none;
	background-image: url(data:image/gif;base64,R0lGODlhUABQAJEAANjY2Onp6fLy8gAAACH5BAAAAAAALAAAAABQAFAAAAL1FCKGmtfrmIwU2ofn1bzX/HlbSI6LCaJiyq4u0JaxKr80Uuf3zNv+r+sFJTtgcYgUHpfKJpJpbHKeUmqUWIVat9nulbrVip3jb7l2TntJa7WZFW7Lp+74G3u36yHzfR9XF9jll+cmWLj2p/hG2DjmuGh1CAkUOclEmbmjadlz2fkCyrkyWnphKrrxiVjJikq6+uogG3uSejuBS+tay7PLm9EL7KErPGvc+zuKrFvsrPwJDco8TOFcfUrNKT2sHXuNyg0pfugtCp5sDky+qJ6JfsuOKE/oPgmPna//QW+I/76PWT85A+/Yi/Qv2sF5C+slRBiwWAEAOw==);
}

a {
	text-decoration: none;
	color: black;
}

#colorpicker{
	padding:7px;
}
.colourCode{
	text-align: center;
	font-size: 125%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom:10px;
	}

.button {
	display: inline;
	background: #777 url(button.png) repeat-x bottom;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
	margin-bottom: 10px;
	}
.button1:hover {
	background-position: 0 center;
	}
.button1:active {
	background-position: 0 top;
	position: relative;
	top: 1px;
	padding: 6px 10px 4px;
	}
.button.blue { background-color: #0246b1; }
.button.red { background-color: #e50000; }
.button.green { background-color: #58aa00; }
.button.large {
	font-size: 125%;
	width:195px;
	height: 35px; }
.button.large:active {  
	background-position: 0 top;
	background-color: #286600; 
}
.mt {
	margin-top:16px!important;
}
.mb {
	margin-bottom:18px!important;
}
.hidden{
	display: none;
}

/**
 * Farbtastic Color Picker 1.2
 * © 2008 Steven Wittens
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(marker.png) no-repeat;
}



